html * {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.app {
  background: black;
  height: 100vh;
  padding: 50px;
}

.scroll-container {
  position: relative;
  border: solid 2px dimgray;
  width: 100%;
  height: 100%;
  overflow: scroll;
}

.board {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

.row.sticky {
  position: sticky;
  top: 0;
  z-index: 10;
}

.row.sticky * {
  background: gainsboro;
}

.col {
  background: darkseagreen;
  border: solid 2px dimgray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.col.sticky {
  position: sticky;
  left: 0;
  background: gainsboro;
}
