html * {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.app {
  background: black;
  height: 100vh;
  padding: 50px;
}

.scroll-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border: solid 2px #333;
}

.scroll-container {
  background: #333;
  width: 100%;
  height: 100%;
  overflow: scroll;
}

.board {
  display: flex;
  flex-direction: column;
  /*padding-top: 100px;*/
  /*padding-left: 150px;*/
}

.row {
  flex: 0 0 100px;
  background: lightblue;
  display: flex;
}

.row.sticky-row {
  position: sticky;
  top: 0;
  width: 100%;
  margin-left: 150px;
}

.row.sticky-row * {
  background: gainsboro !important;
}

.col {
  flex: 0 0 150px;
  background: darkseagreen;
  border: solid 2px #333;
  height: 100px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sticky-col {
  position: sticky;
  left: 0;
  background: gainsboro;
}

.corner-mask {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  background: #333;
}
